.company-experiance{
    display: block;
   
}
.experinace{
    margin: 15px;
    height: 200px;
    background:  #e0e0e0;;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 16px 16px 30px rgba(0, 0, 0, 0.2),
    -16px -16px 30px rgba(255, 255, 255, 0.6);


}

.campany-ex{
    display: flex;
}
.company-image img{
    height: 50px;
    width: 60px;
}

.company{
    padding: 5px;
    margin: 3px;
}
.company span{
    font-size: 20px;
}
.company h4{
    font-size: 20px;
}
.company p{
    font-size: 18px;
    line-height: 28px;
}


@media (max-width:1536px){
    .container{
      max-width: 1536px;
    
    }


  
  }
  @media (max-width:1280px){
    .container{
      max-width: 1280px;
     
      margin: 2px;
   

    }
    .about-content{
        margin: 10px;
    }
    .about .about-content .about-text p{
        text-align: justify;
    }
    
    
  }
  @media (max-width:1024px){
    .container{
      max-width: 1024px;
    
    }
    .company-experiance{
       
        width: 100%;
    }

    .skills{
     
        width: 100%;
    }
}



@media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .experinace{
        height: 230px;
    }
    .campany-ex{
        width: 90%;
        padding: 5px;
    }
    .company-image img{
        border-radius: 50%;
    }
   
    .company span{
        font-size: 15px;
    }
    .company h4{
        font-size: 16px;
    }
    .company p{
        font-size: 15px;
        line-height: 25px;
    }
   
  }
  